/* project nav */

.project-nav {
  background-color: #dcdcea;
}

/*---- project header ---------*/

.project-header {
  padding: 5%;
  background-image: url(../media/images/background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.project-header h2 {
  font-size: 2em;
  margin-bottom: 2%;
}

.project-header p {
  font-size: 1.2em;
  background-color: #dcdcea;
  border-radius: 50%;
  padding: 4%;
}

/*-----flexbox-----------------*/
.project-main {
  margin-bottom: 1%;
  background-color: #dcdcea;
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item {
  width: 40%;
  height: 25%;
  margin: 1%;
}

.flex-item img {
  width: 100%;
 
}

.flex-item p {
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 1px 1px 1px black;
}

.flex-item a {
  text-decoration: none;
}

.item-1 p {
  background-color: #1964d6;
  color: white;
}

.item-2 p {
  background-color: #76493b;
  color: white;
}

.item-3 p {
  background-color: black;
  color: white;
}

.item-4 p {
  background-color: #ef8080;
  color: white;
}

.item-5 p {
  background-color: #b69857;
  color: white;
}

.item-6 p {
  background-color: #db7092;
  color: white;
}

.item-7 p {
  background-color: #707171;
  color: white;
}

.item-8 p {
  background-color: #028b8b;
  color: white;
}

.item-9 p {
  background-color: #b54412;
  color: white;
}

.item-10 p {
  background-color: #fd7529;
  color: white;
}

.flex-item p:hover {
  font-size: 1.2em;
  text-decoration: underline;
  transition: 0.5s;
  padding: 1%;
  box-shadow: 2px 2px 2px black;
}

/*------------------responsive design-----------------------*/
@media (max-width: 500px) {
  .project-header p {
    padding: 8%;
    font-size: 0.8em;
    border-radius: 40%;
  }

  .project-main p {
    font-size: 0.8em;
  }

  .project-main p:hover {
    font-size: 1em;
  }
  /* for when mobile devices touch the p elements, as they will not have mouse cursors*/
  .project-main p:active {
    font-size: 1em;
    text-decoration: underline;
  }

  .project-main .flex-item {
    margin-bottom: 4%;
  }
}

/*--------tablet view---------*/
@media (min-width: 750px) {
  .project-header p {
    border-radius: 30%;
    padding: 4%;
  }
}

@media (min-width: 1400px) {
  .project-header h2 {
    font-size: 3em;
  }
  .project-header p {
    border-radius: 50%;
    padding: 4%;
  }
}

/*---------------desktop view----------------------*/
@media (min-width: 2000px) {
  .project-nav h1 {
    font-size: 3em;
    margin-top: 0;
  }
  .project-nav ul li {
    font-size: 2em;
  }

  /* header section */

  .project-header {
    margin-top: 0.5%;
  }

  .project-header h2 {
    font-size: 4.5em;
  }

  .project-header p {
    font-size: 2em;
  }

  /* main section */

  .project-main p {
    font-size: 2em;
    margin-top: 1%;
    box-shadow: 2px 2px 2px black;
  }

  .project-main p:hover {
    font-size: 2.5em;
    box-shadow: 4px 4px 4px black;
  }
}
