/* universal */
* {
  padding: 0;
  margin: 0;
  font-family: "gabriela", serif;
}

body {
  padding-top: 5%;
  background-color: #f2f1ed;
}

h1 {
  font-family: "cabin sketch", serif;
}

nav,
header,
main,
footer {
  box-shadow: 4px 4px 4px black;
}

/* nav section */
.name {
  display: inline-block;
  position: absolute;
  margin: 0 1%;
  top: 15%;
  font-size: 1.5em;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #e7bfbb;
  padding: 1%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5%;
}

nav ul {
  margin: 0 5%;
  padding: 0;
  text-align: right;
}

nav li {
  list-style-type: none;
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: black;
  font-family: "cabin sketch", serif;
  width: 100px;
  display: block;
  font-weight: bold;
  padding: 2%;
  margin: 4% 6%;
  text-align: center;
}

nav li a:hover {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 1.2em;
  transition: 0.5s;
}

/*----------- header section ---------------------------------*/
header {
  background-image: url(../media/images/background5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5%;
  text-align: center;
  padding: 2% 10%;
}

.imageOfMe img {
  width: 20%;
  border-radius: 100%;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}

/* button */

.random {
  background-color: #e7bfbb;
  padding: 2%;
  border: 3px dashed solid black;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 2px black;
}

.random:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px black;
  border: 4px solid #e7bfbb;
  background-color: black;
  color: white;
  transition: 0.5s;
  font-size: 1em;
}

.random:active {
  box-shadow: none;
  font-size: 0.8em;
  transition: 0.5s;
}

.imageOfMe img:hover {
  width: 30%;
  transition: 1s;
}

/*--------- main ----------------------------*/

main {
  padding: 2%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 1%;

  border-radius: 5%;
  background-color: #e7bfbb;
}
#about h2 {
  text-align: center;
  font-size: 2em;
}

#about p {
  line-height: 1.5em;
  font-size: 1em;
}

#about h2 {
  margin-bottom: 2%;
}

/* skills section */

#skills {
  margin-top: 1%;
  padding: 2%;
  text-align: center;
}

#skills h2 {
  margin-bottom: 1%;
  font-size: 2em;
}

.icon-container {
  margin-top: 1%;

  padding: 1%;
}

main .fa-brands {
  padding: 3%;
}

/*---------- contact ----------------------*/

footer {
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 2%;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5%;
  background-color: #e7bfbb;
}

footer h2 {
  margin-bottom: 1%;
  font-size: 2em;
}

.contactLinks {
  padding: 1%;
}

.contactLinks .item {
  padding: 3%;
}

.contactLinks a {
  color: black;
}

.contactLinks a:hover {
  color: darkred;
}

.contactLinks .item:hover {
  border: 1px solid black;
  border-radius: 10%;
  box-shadow: 1px 1px 1px black;
  transition: 0.5s;
}

/*----------------responsive design-------------------*/

/* mobile */

@media (max-width: 500px) {
  nav,
  header,
  main,
  footer {
    box-shadow: 1px 1px 1px black;
  }

  body {
    margin-top: 0;
    padding-top: 0;
  }

  .name {
    font-size: 1em;
    position: static;
    min-width: 40%;
  }

  nav {
    text-align: center;

    position: static;
  }
  nav ul {
    text-align: right;
  }

  nav ul li {
    display: block;
    width: 100%;
    min-width: 20%;
    margin-top: 2%;
  }
  nav ul li a {
    min-width: 30%;
    width: auto;
  }

  /*hiding the nav list in mobile view, apart from projects as this is a separate page*/
  a[href^="#"] {
    display: none;
  }

  /*-------- mobile header section --------*/
  header {
    margin-top: 1%;
    padding: 10% 15%;
  }

  .imageOfMe {
    padding: 2%;
    width: 100%;
  }

  .imageOfMe img {
    display: block;
    margin: 5% auto;
    width: 50%;
  }

  /*as mobile devices are touch screen, adding an active element for when they are clicked on*/

  .imageOfMe img:active {
    width: 70%;
    transition: 1s;
  }

  .imageOfMe img:hover {
    width: 70%;
    transition: 1s;
  }

  .random {
    padding: 4%;
    font-size: 0.8em;
    overflow: hidden;
    width: 100%;
    min-width: 40%;
    border-radius: 20%;
  }
  .random:hover {
    font-size: 0.8em;
  }

  /* mobile main section */

  #about h2 {
    margin-bottom: 2%;
  }

  #about p {
    min-width: 20%;
  }

  /* skills */

  .icon-container {
    padding: 2% 5%;
  }

  main .fa-brands {
    margin: 2% auto;
    padding: 5%;
  }

  /* footer section */
  footer {
    padding: 2%;
  }
  .contactLinks {
    padding: 2% 4%;
  }
  .contactLinks .item {
    margin: 1% 4%;
    padding: 6% 2%;
  }

  /* for mobile users, as there will be no mouse cursor */
  .contactLinks .item:active {
    border: 0px solid black;
    border-radius: 10%;
    box-shadow: 0px 0px 0px black;
    transition: 0.5s;
  }
}

/*------------------- Laptop view -----------------------------*/

@media (min-width: 501px) {
  nav,
  header,
  main,
  footer {
    box-shadow: 2px 2px 2px black;
  }

  /* nav section */
  nav {
    padding: 2%;
  }

  /* header section */
  header {
    margin-top: 4%;
  }

  .imageOfMe img {
    display: block;
    margin: 2% auto;
    width: 30%;
    box-shadow: 3px 3px 3px black;
  }

  .imageOfMe img:hover {
    width: 40%;
    box-shadow: 4px 4px 4px black;
  }
}

@media (min-width: 900px) {
  header {
    margin-top: 3%;
  }
}

@media (min-width: 1400px) {
  nav {
    padding: 1%;
  }

  header {
    margin-top: 0;
  }

  .imageOfMe img {
    width: 20%;
  }

  .imageOfMe img:hover {
    width: 30%;
  }

  footer {
    padding: 0.5%;
  }

  footer h2 {
    margin-bottom: 0;
    margin-top: 1%;
  }
}

/*-------------------desktop view-----------------------*/

@media (min-width: 2000px) {
  nav,
  header,
  main,
  footer {
    box-shadow: 4px 4px 4px black;
  }

  h1 {
    font-size: 2em;
    margin-top: 1.5%;
  }

  nav {
    margin-bottom: 0;
    padding: 1.5%;
  }

  nav ul li {
    font-size: 1.5em;
    padding: 0 2%;
  }
  nav ul li a {
    padding: 0 2%;

    width: 100%;
  }

  /*header section*/
  header {
    margin-top: 0.5%;
  }

  .random {
    font-size: 1.5em;
  }

  .random:hover {
    font-size: 2em;
    box-shadow: 4px 4px 4px black;
  }

  .random:active {
    box-shadow: none;
    font-size: 1.5em;
    transition: 0.5s;
  }

  /* main section */
  #about h2 {
    font-size: 4em;
  }

  #about p {
    font-size: 2em;
  }

  #skills h2 {
    font-size: 4em;
  }

  #contact h2 {
    font-size: 4em;
  }
}


 
